{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="flex justify-center  font-bold w-[85%] h-screen   bg-[rgba(215,213,213,0.5)] relative left-[15%] ">
    <div class="w-[95%] h-[85%] bg-gray absolute top-1 left-1 flex flex-col rounded-md shadow-md bg-gradient-to-tr from-Celadon-blue to-Celeste">
        <div class=" w-full h-12 bg-red flex flex-row  items-center justify-between px-5 pr-10 rounded-t-md border-b-2 border-[rgba(24,24,24,0.5)]">
          <h1 class="text-2xl text-transparent bg-clip-text bg-gradient-to-tr from-Black-Olive to-BUff">Support</h1>
        </div>
        <div class="w-full h-full flex flex-col  items-center">
          <div
            
            class=" flex flex-row w-full h-1/2 items-center justify-center gap-2"
          >
            <h1
              class=" h-10 rounded-full w-[75%] px-2 bg-beige focus:outline-lightgray focus:shadow-outline text-center text-3xl text-Black-Olive drop-shadow-xl"
              > Any issue? Let us help you
            <h1/>
            
            
          </div>
          <div class="flex flex-row  border-2 border-[rgba(255,255,255,0.5)] w-[90%] h-[85%] mb-2 rounded-md shadow-lg justify-center">
              
            <form action="">
              <div class="w-[90%] border-2 h-1/2 m-2 shadow-lg rounded-md flex flex-col items-center p-3  bg-gradient-to-tr from-Tickle-Me-Pink to-Celeste">
            <div class="flex flex-row  gap-7 text-2xl">
              Name:
                <input
                  type="text"
                  class=" h-6 rounded-full w-3/4 px-2 bg-beige focus:outline-lightgray focus:shadow-outline text-center bg-transparent border-b-[2px] border-b-BUff overflow-visible  py-2 text-xl ml-10"
                  placeholder="Enter your name"
                  value=""
                />
                </div>
                <div class="flex flex-row  gap-11 text-2xl">
                  Email:
                    <input
                      type="email"
                      class=" h-6 rounded-full w-3/4 px-2 bg-beige focus:outline-lightgray focus:shadow-outline text-center bg-transparent border-b-[2px] border-b-BUff overflow-visible  py-2 text-xl ml-10"
                      placeholder="Enter your Email"
                      value=""
                    />
                    </div>
                    <div class="flex flex-row  gap-7 text-2xl">
                      Username:
                        <input
                          type="number"
                          class=" h-6 rounded-full w-3/4 px-2 bg-beige focus:outline-lightgray focus:shadow-outline text-center bg-transparent border-b-[2px] border-b-BUff overflow-visible  py-2 text-xl"
                          placeholder="Enter your Username"
                        />
                      </div>
                      <div class="flex flex-row mt-1 rounded-full border-2  border-[rgba(0,0,0,0.5)] w-3/4 h-10 justify-center bg-gradient-to-r from-Tickle-Me-Pink to-Celeste hover:scale-105 transition ease-in duration-300">
                        <input type="button" value="Submit" onClick="" />
                        </div>
                </div>
              </form>
              
          </div>
        </div>
      </div>
    </div>
      {% endblock body %}