<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../dist/output.css" rel="stylesheet">
    <title>spliit</title>
</head>
<body>
    <div class="w-1/2 h-[80%] bg-gray absolute top-24 left-1/4 rounded-md shadow-xl">
        <div class="w-full h-12 bg-red flex flex-row items-center px-5 justify-between text-2xl font-bold rounded-t-md">
          Support
        </div>
        <div class="w-full h-full flex flex-col  ">
          <form
            action=""
            class=" flex flex-row w-full h-1/2 items-center justify-center gap-2"
          >
            <input
              type="text"
              class=" h-10 rounded-full w-[75%] px-2 bg-beige focus:outline-lightgray focus:shadow-outline text-center"
              placeholder="Search Topic"
            />
            <button class="w-[15%] h-10 bg-beige rounded-full text-xl px-4 text-gray hover:bg-red hover:text-beige focus:outline-shadow">
              Search
            </button>
          </form>
        </div>
      </div>
</body>
</html>